@page "/testing"

<h2 class="mb-5">Test Components with bUnit</h2>

<p>There's no official Microsoft testing framework for Blazor, but the community-driven project bUnit provides a convenient way to unit test Razor components.</p>
<p>Documentation: <a href="https://github.com/bUnit-dev/bUnit" target="_blank">https://github.com/bUnit-dev/bUnit</a></p>


<img src="images/bUnit template.png" />

<p>
    <button type="button" class="btn btn-secondary mt-5" @onclick="DisplayCode">Display Code</button>
</p>


<CodeDisplay @ref="codeDisplayComponent" CodeSnippet="@snippet"></CodeDisplay>


@code {

    private string? snippet;
    private CodeDisplay? codeDisplayComponent;

    private async void DisplayCode()
    {
        snippet = Resource.bunit;

        await codeDisplayComponent!.Show();
    }
}
